@import '../../styles/variables';

.suggest-card{
    .card{
        .pic-box{
            background-color: $orange-b;
            img{
                position: absolute;
                left: -60px;
                max-width: 200px;
            }
        }
        .text-box{
            margin-left: 20px;
            .pizza-title{
                color: $orange-b;
            }
        }
      }
}
