@import '../../styles/variables';
.flavor-card{
    .pic-box{
        background-color: $orange-b;
        img{
            position: absolute;
            left: -60px;
            max-width: 200px;
        }
    }
    .text-box{
        margin-left: 20px;
        margin-top: 2rem;
    }
}
