@import '../../styles/variables';

.logo{
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-decoration: none;
  display: inline-flex;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: $blue_dark;
    display: inline-flex;
    height: 15%;
    width: 100%;
    padding: 20px;
    color: white;
    h2{
        font-size: 2em;
        margin-left: 12px;
    }
  }
  
 
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  